__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs & databases
*.log

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# IDE/editor
.vscode/
.idea/
*.swp

# OS / sync
Thumbs.db
.DS_Store
~$*
*.tmp

# Env / secrets
.env

# OneDrive temp artifacts
~$*.doc*
